@charset "UTF-8";

.category-card-title, .product-card .card-title {color: #242424}
mcc-category-card .category-card .card-title {color: #fff}
mcc-category-card .category-card:hover .card-title {color: #fff}
.product-card:hover .card-title {color: #2e2ae0}
.product-card .card-title {font-size: 1.15rem;}
.product-card .card-title>a:hover {text-decoration: none}
.card-meta, .card-text {color: #616771}
.category-card .card-meta {font-size: .85rem; color: #5c6977}
mcc-category-card .category-card .card-meta {font-size: .85rem; color: #dbdbdb}
mcc-category-card .category-card:hover .card-text, mcc-category-card .category-card:hover .card-meta {color: #f2f2fa}
.product-card:hover .card-text, .product-card:hover .card-meta {color: #545454}

:root {
  --primary-color: #541F46;  /* Change this per client */
  --primary-color-rgb: 84, 31, 70;  /* RGB version */
  --secondary-color: #B32025;
  --secondary-color-rgb: 179, 32, 37;  /* RGB version */
}


body {
  background: url('../../img/common/crossword.png') repeat; /* Replace with your actual image URL */
  background-size: 400px 400px; /* Ensures the pattern repeats properly */
  position: relative;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    color: var(--primary-color);
}

/* Tint overlay that ONLY affects the background */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: var(--primary-color); /* Tint color */
  opacity: 0.1; /* Adjust intensity */
  pointer-events: none; /* Prevents interaction */
  z-index: -1; /* Keeps it behind all content */
}



.card-slider-item, mcc-category-card, .category-search--category-card {
    flex: auto;
    display: flex;
}
mcc-category-card > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.category-card {
    flex: 1;
    align-items: start;
    min-width: 0;
    width: inherit;
    max-width: none;
}
.category-search--category-card {
    display: flex;
    flex-direction: column;
}

mcc-category-card, .category-search--category-card {
    flex-direction: column;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   mcc-category-card, mcc-category-card > div, .category-search--category-card {flex-direction:inherit}
}

mcc-category-card .category-card {
    background-color: var(--primary-color);
}
.category-card, .product-card {
    border: none;
    border-radius: 7px;
    box-shadow: none;
}

.card-image-holder img, .card-img-holder img, .image-holder img {
    z-index: 1;
    width: auto;
    object-fit: contain;
    -webkit-transition: -webkit-all 0.4s;
    transition: all 0.4s;
}
.category-card .card-img-holder {
    background-color: transparent;
    border-radius: 7px 7px 0 0;
    position: relative;
    margin: 0;
    width: 35%;
    height: 100%;
    flex: 1 1 35%;
        	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.category-card .card-img-holder:before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    background: url(../../img/common/standard-folder.svg) no-repeat center / contain;
    transform: scale(0.8); /* Scale the background image */
    transform-origin: top left; /* Ensures scaling is anchored at top-left */
}
.category-card .card-img-holder img.card-img[src="https://images.printable.com/application/folder.png"], .category-card .card-img-holder img.card-img[src="https://images.printable.com/application/default_product_image.jpg"] {
    padding: 50%;
    height: 0;
    width: 0;
    background: url(../images/categories/blank_img.svg) no-repeat center / contain;
}

mcc-category-card .category-card:after {
    content: "";
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 7px;
    background: rgba(var(--primary-color-rgb), 0.72);
}
mcc-category-card .category-card:focus:after, mcc-category-card .category-card:hover:after {
    background: rgba(var(--secondary-color-rgb), 0.72);
}

.product-card {height: 100%}
.product-card.list {height: 8.28571rem}
.product-card.hover, .product-card:focus, .product-card:hover {
    box-shadow: 0 0 8px 3px rgb(0 0 0 / 10%);
}
.product-card:after, .product-card:focus:after, .product-card:hover:after {
    background: none;
}
.product-card .card-img-holder, .image-holder.poster, .poster.card-image-holder, .poster.card-img-holder {
    position: relative;
    background-color: #fff;
    padding: 8px .85em;
}

.card-body {padding: .5em .85em}
mcc-category-card .card-body {
    width: 65%;
    flex: 1 0 65%;
    padding: .5em .85em .85em;
    z-index: 1;
}

.card-slider-item .card-title, mcc-categories .card-title {padding-bottom: 0px}
.category-card .card-title {
    overflow-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    -webkit-hyphenate-character: auto;
}
.card-slider-item .category-card p.card-text, mcc-categories .category-card p.card-text {
    line-height: 1.2;
    white-space: normal;
}

.btn-icon.category-share-button {
    color: #dbdbdb;
}
.btn-icon.category-share-button:hover, .btn-icon.category-share-button:focus {
    color: #fff;
}


.product-card .card-infobox {
    height: 100%;
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
mcc-ratings-read-only {
    position: absolute;
    bottom: 0;
}


.card-select-control {
    z-index: 2;
    color: #000;
}
.product-card .card-select-control > i.fa {
    text-shadow: 0px 0px 7px rgba(53,98,132,.25);
}
.product-card.selected .card-select-control, .product-card.selected:before {
    color: #2e2ae0;
}

.product-card:not(.list) .card-body-footer {
    padding-top: 3px;
    border-top: 1px solid #ebebeb;
}

.category-description-card {
    padding: 10px!important;
}
.site-main-left > div.row + mcc-sorting-and-paging .site-section-header {
    padding: .5rem 0 1rem;
}

/* sorting and paging bar */
mcc-categories mcc-sorting-and-paging > .site-section-header {display: none}
mcc-sorting-and-paging > .site-section-header {
    align-items: center;
}
mcc-sorting-and-paging > .site-section-header > .d-flex > .col-auto, mcc-sorting-and-paging > .site-section-header > .d-flex > .page-heading, mcc-sorting-and-paging > .site-section-header > .d-flex > span {
    margin: auto 0;
}
mcc-sorting-and-paging .page-link {
    background-color: #e8eaf3;
    border: 1px solid #95a4b6;
}

/* bottom sorting and paging bar */
mcc-sorting-and-paging:last-child > .site-section-header {
    justify-content: center!important;
}
mcc-sorting-and-paging:last-child > .site-section-header > .d-flex.align-items-center > .col-auto.mr-5 {
    justify-content: center;
    margin-right: auto!important;
}


/* search category carousel */
carousel.categories-carousel {
    max-width: none !important;
}


/* layout arrangement: list items, categories, assets */
@media (min-width: 0) {
    .category-search--category-card.col-md-6, .product-list-item.col-md-6 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .category-card .card-img-holder img {
        object-fit: cover;
        min-height: 88px;
    }
    mcc-category-card .category-card .card-title {font-size: 1.25rem}
    .product-card.grid .card-img-holder, .product-card:not(.list) .card-img-holder {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }
    .product-card .card-body {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }
    .product-card .card-title {font-size: 1.05rem}
}
@media (min-width: 576px) {
    .category-search--category-card.col-md-6, .product-list-item.col-md-6 {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 150%;
    }
    mcc-categories .product-list-item {
        display: flex;
    }
    mcc-category-card {
        display: flex;
        flex: auto;
    }
}
@media (max-width: 767px) {
    mcc-categories .product-list-item {
        display: flex;
    }
    mcc-category-card {
        display: flex;
        flex: auto;
    }
    mcc-category-card .category-card {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .category-card .card-img-holder:before {
        width: 150px;
        height: 50px;
        top: 50%;
        transform: translateY(-50%);
    }
    mcc-category-card .card-body {
        padding: 0.85em;
        align-self: stretch;
        display: flex;
    }
    mcc-category-card .card-infobox, mcc-category-card .card-title {
        margin-bottom: 0;
        padding: 0;
    }
    
    .product-card .card-title {white-space: normal}
    .product-card.list .card-title {white-space:nowrap}
}
@media (min-width: 768px) {
    .category-list-item, .product-list-item.col-lg-3, .category-search--category-card.col-lg-4 {
        -ms-flex: 0 0 33.33333333%;
        -webkit-box-flex: 0;
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
    }
    mcc-categories .product-list-item.col-lg-3 {
        -ms-flex: 0 0 27.5%;
        -webkit-box-flex: 0;
        flex: 0 0 27.5%;
        max-width: 27.5%;
    }
    .category-list-item:nth-child(3), mcc-categories .product-list-item.col-lg-3:nth-child(3), mcc-categories .product-list-item.col-lg-3:nth-child(5), mcc-categories .product-list-item.col-lg-3:nth-child(7), mcc-categories .product-list-item.col-lg-3:nth-child(12), mcc-categories .product-list-item.col-lg-3:nth-child(13), mcc-categories .product-list-item.col-lg-3:nth-child(17) {
        -ms-flex: 0 0 45%;
        -webkit-box-flex: 0;
        flex: 0 0 45%;
        max-width: 45%;
    }

    mcc-categories .product-list-item {
        display: flex;
    }
    mcc-category-card .category-card, mcc-category-card .category-card:not(.list) {
        display: block;
    }
    .category-card .card-img-holder, .category-card .card-body {
        position: relative;
        float: left;
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 13px 20px;
    }
    .category-card .card-img-holder {
        max-width: 100%;
        max-height: 130px;
        margin: 0;
    }
    .category-card .card-img-holder img.card-img[src="https://images.printable.com/application/folder.png"], .category-card .card-img-holder img.card-img[src="https://images.printable.com/application/default_product_image.jpg"] {
        padding: 60px 45%;
    }
    .category-card .card-img-holder img {
        object-fit: contain;
        min-height: auto;
        max-height: 130px;
    }
    .category-card .card-img-holder:before {
        width: 40px;
        height: 40px;
    }
    mcc-category-card .category-card .card-title {font-size: 1.13rem}
}
@media (min-width: 992px) {


	
    
    .card-title {
display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines before truncating */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4rem; /* Adjust based on font size */
    line-height: 1.2rem; /* Adjust spacing between lines */
}
    
    
    .product-list-item.col-lg-3 {
        -ms-flex: 0 0 14.25%;
        -webkit-box-flex: 0;
        flex: 0 0 14.25%;
        max-width: 14.25%;
    }
    .product-list-item.col-lg-4, .category-search--category-card.col-lg-4 {
        -ms-flex: 0 0 14.25%;
        -webkit-box-flex: 0;
        flex: 0 0 14.25%;
        max-width: 14.25%;
    }
    .category-list-item, mcc-categories .product-list-item.col-lg-3, mcc-categories .product-list-item.col-lg-3:nth-child(7), mcc-categories .product-list-item.col-lg-3:nth-child(13) {
       -ms-flex: 0 0 14.25%;
        -webkit-box-flex: 0;
        flex: 0 0 14.25%;
        max-width: 14.25%;
    }
    .category-list-item:nth-child(3), mcc-categories .product-list-item.col-lg-3:nth-child(3), mcc-categories .product-list-item.col-lg-3:nth-child(5), mcc-categories .product-list-item.col-lg-3:nth-child(12), mcc-categories .product-list-item.col-lg-3:nth-child(14), mcc-categories .product-list-item.col-lg-3:nth-child(17) {
        -ms-flex: 0 0 14.25%;
        -webkit-box-flex: 0;
        flex: 0 0 14.25%;
        max-width: 14.25%;
    }

    .category-card .card-img-holder {
        max-height: 45px;
    }
    .category-card .card-img-holder img {
        max-height: 120px;
    }
    .category-card .card-img-holder:before {
        width: 50px;
        height: 50px;
    }
    .product-card.grid .card-img-holder, .product-card:not(.list) .card-img-holder {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        border-bottom-left-radius: unset;
    }
    .product-card .card-body {
        border-top-right-radius: unset;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }
    .product-card:not(.list) .card-img-holder:after {
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        width: calc(100% - 1.7em);
        height: 1px;
        background-color: #ebebeb;
    }
    .product-card .card-title {
	    font-size: 1rem;
	    line-height: 1.1rem;
    }
    mcc-sorting-and-paging .page-link {
        background-color:transparent;
        border: none;
    }

/* This stuff below controls folders inside of folders 
.custom-category-card.col-lg-4 {
    -ms-flex: 0 0 16.66%;
    -webkit-box-flex: 0;
    flex: 0 0 16.66%;
    max-width: 16.66%;
}

[class*="mcc-parent-folder"] .card-img-holder {
    min-height: 45px;
}

[class*="mcc-parent-folder"] .category-card .card-title {
  display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines before truncating 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 8rem; /* Adjust based on font size 
    line-height: 1rem; /* Adjust spacing between lines 
  
  font-size: .9rem

} 
/* This stuff above controls folders inside of folders */


	
}

/* LIVE category card photo image backgrounds and icons */
/* brochures & flyers */
.mcc-folder-3156991 .category-card {background: #5c6977 url(../images/categories/photos/Brochures-&-Flyers.jpg) no-repeat bottom left / cover;}
.mcc-folder-3156991 .category-card .card-img-holder:before {background-image: url(../../img/common/folder.svg)}
/* presentations */
.mcc-folder-2956766 .category-card {background: #5c6977 url(https://images.printable.com/printonelogos/images/895/5913/folders/2956766/de665160-b21b-4859-88c2-cd85d0131f40.png) no-repeat center / cover;}
.mcc-folder-2956766 .category-card .card-img-holder:before {background-image: url(../../img/common/folder.svg)}
/* digital delivery */
.mcc-folder-1875221 .category-card {background: #5c6977 url(../images/categories/photos/Digital-Deliveries.jpg) no-repeat top center / cover;}
.mcc-folder-1875221 .category-card .card-img-holder:before {background-image: url(../../img/common/folder.svg)}
/* emails */
.mcc-folder-1875223 .category-card {background: #5c6977 url(../images/categories/photos/Email.jpg) no-repeat bottom right / cover;}
.mcc-folder-1875223 .category-card .card-img-holder:before {background-image: url(../../img/common/folder.svg)}
/* direct mail */
.mcc-folder-1875230 .category-card {background: #5c6977 url(../images/categories/photos/Direct-Mail-Campaigns.jpg) no-repeat center right / cover;}
.mcc-folder-1875230 .category-card .card-img-holder:before {background-image: url(../../img/common/folder.svg)}
/* salesforce */
.mcc-folder-1875254 .category-card {background: #5c6977 url(../images/categories/photos/Salesforce-Enabled.jpg) no-repeat top center / cover;}
.mcc-folder-1875254 .category-card .card-img-holder:before {background-image: url(../../img/common/folder.svg)}
/* online & print ads */
.mcc-folder-1875241 .category-card {background: #5c6977 url(../images/categories/photos/Online-&-Print-ADS.jpg) no-repeat center right / cover;}
.mcc-folder-1875241 .category-card .card-img-holder:before {background-image: url(../images/categories/online_print_ads_v1.svg?v=1.3)}
/* stationery */
.mcc-folder-1875246 .category-card {background: #5c6977 url(../images/categories/photos/Stationery.jpg) no-repeat center right / cover;}
.mcc-folder-1875246 .category-card .card-img-holder:before {background-image: url(../images/categories/stationery_v1.svg?v=1.3)}
/* kits */
.mcc-folder-1875248 .category-card {background: #5c6977 url(../images/categories/photos/Kits.jpg) no-repeat top center / cover;}
.mcc-folder-1875248 .category-card .card-img-holder:before {background-image: url(../images/categories/kits_v1.svg?v=1.3)}
/* social media */
.mcc-folder-1875243 .category-card {background: #5c6977 url(../images/categories/photos/Social-Media.jpg) no-repeat top center / cover;}
.mcc-folder-1875243 .category-card .card-img-holder:before {background-image: url(../images/categories/social_media_v1.svg?v=1.3)}
/* promotional products */
.mcc-folder-1875244 .category-card {background: #5c6977 url(../images/categories/photos/Promotional-Products.jpg) no-repeat top center / cover;}
.mcc-folder-1875244 .category-card .card-img-holder:before {background-image: url(../images/categories/promotional_v1.svg?v=1.3)}
/* proposals */
.mcc-folder-1875264 .category-card {background: #5c6977 url(../images/categories/photos/Proposals.jpg?v=1.2) no-repeat top center / cover;}
.mcc-folder-1875264 .category-card .card-img-holder:before {background-image: url(../images/categories/proposals_v1.svg?v=1.3)}
/* upload your design */
.mcc-folder-1875249 .category-card {background: #5c6977 url(../images/categories/photos/Upload-Design.jpg) no-repeat top center / cover;}
.mcc-folder-1875249 .category-card .card-img-holder:before {background-image: url(../images/categories/upload_design_v1.svg?v=1.3)}
/* examples */
.mcc-folder-1875255 .category-card {background: #5c6977 url(../images/categories/photos/Examples.jpg?v=1.2) no-repeat top center / cover;}
.mcc-folder-1875255 .category-card .card-img-holder:before {background-image: url(../images/categories/examples_v1.svg?v=1.3)}
/* video */
.mcc-folder-1875252 .category-card {background: #5c6977 url(../images/categories/photos/Video.jpg) no-repeat top center / cover;}
.mcc-folder-1875252 .category-card .card-img-holder:before {background-image: url(../images/categories/video_v1.svg?v=1.3)}
/* product request */
.mcc-folder-1875247 .category-card {background: #5c6977 url(../images/categories/photos/Product-Request.jpg?v=1.2) no-repeat top center / cover;}
.mcc-folder-1875247 .category-card .card-img-holder:before {background-image: url(../images/categories/product_request_v1.svg?v=1.3)}
/* faqs */
.mcc-folder-3063625 .category-card {background: #5c6977 url(../images/categories/photos/FAQs.jpg) no-repeat top center / cover;}
.mcc-folder-3063625 .category-card .card-img-holder:before {background-image: url(../images/categories/FAQs_v1.svg?v=1.3)}


/* SANDBOX category card photo image backgrounds and icons */
/* brochures & flyers */
.mcc-folder-2923067 .category-card {background: #5c6977 url(../images/categories/photos/Brochures-&-Flyers.jpg) no-repeat bottom left / cover;}
.mcc-folder-2923067 .category-card .card-img-holder:before {background-image: url(../images/categories/brochures_and_flyers_v1.svg?v=1.2)}
/* presentations */
.mcc-folder-2923068 .category-card {background: #5c6977 url(../images/categories/photos/Presentations.jpg) no-repeat center / cover;}
.mcc-folder-2923068 .category-card .card-img-holder:before {background-image: url(../images/categories/presentations_v1.svg?v=1.2)}
/* digital delivery */
.mcc-folder-2923070 .category-card {background: #5c6977 url(../images/categories/photos/Digital-Deliveries.jpg) no-repeat top center / cover;}
.mcc-folder-2923070 .category-card .card-img-holder:before {background-image: url(../images/categories/digital_deliveries_v1.svg?v=1.2)}
/* emails */
.mcc-folder-2923069 .category-card {background: #5c6977 url(../images/categories/photos/Email.jpg) no-repeat bottom right / cover;}
.mcc-folder-2923069 .category-card .card-img-holder:before {background-image: url(../images/categories/email_v1.svg?v=1.2)}
/* direct mail */
.mcc-folder-2923071 .category-card {background: #5c6977 url(../images/categories/photos/Direct-Mail-Campaigns.jpg) no-repeat center right / cover;}
.mcc-folder-2923071 .category-card .card-img-holder:before {background-image: url(../images/categories/direct_mail_v1.svg?v=1.2)}
/* salesforce */
.mcc-folder-2923085 .category-card {background: #5c6977 url(../images/categories/photos/Salesforce-Enabled.jpg) no-repeat top center / cover;}
.mcc-folder-2923085 .category-card .card-img-holder:before {background-image: url(../images/categories/salesforce_enabled_v1.svg?v=1.2)}
/* online and print */
.mcc-folder-2923072 .category-card {background: #5c6977 url(../images/categories/photos/Online-&-Print-ADS.jpg) no-repeat center right / cover;}
.mcc-folder-2923072 .category-card .card-img-holder:before {background-image: url(../images/categories/online_print_ads_v1.svg?v=1.3)}
/* stationery */
.mcc-folder-2923078 .category-card {background: #5c6977 url(../images/categories/photos/Stationery.jpg) no-repeat center right / cover;}
.mcc-folder-2923078 .category-card .card-img-holder:before {background-image: url(../images/categories/stationery_v1.svg?v=1.3)}
/* kits */
.mcc-folder-2923082 .category-card {background: #5c6977 url(../images/categories/photos/Kits.jpg) no-repeat top center / cover;}
.mcc-folder-2923082 .category-card .card-img-holder:before {background-image: url(../images/categories/kits_v1.svg?v=1.3)}
/* social media */
.mcc-folder-2923076 .category-card {background: #5c6977 url(../images/categories/photos/Social-Media.jpg) no-repeat top center / cover;}
.mcc-folder-2923076 .category-card .card-img-holder:before {background-image: url(../images/categories/social_media_v1.svg?v=1.3)}
/* promotional products */
.mcc-folder-2923077 .category-card {background: #5c6977 url(../images/categories/photos/Promotional-Products.jpg) no-repeat top center / cover;}
.mcc-folder-2923077 .category-card .card-img-holder:before {background-image: url(../images/categories/promotional_v1.svg?v=1.3)}
/* proposals */
.mcc-folder-2923087 .category-card {background: #5c6977 url(../images/categories/photos/Proposals.jpg?v=1.2) no-repeat top center / cover;}
.mcc-folder-2923087 .category-card .card-img-holder:before {background-image: url(../images/categories/proposals_v1.svg?v=1.3)}
/* upload your design */
.mcc-folder-2923083 .category-card {background: #5c6977 url(../images/categories/photos/Upload-Design.jpg) no-repeat top center / cover;}
.mcc-folder-2923083 .category-card .card-img-holder:before {background-image: url(../images/categories/upload_design_v1.svg?v=1.3)}
/* examples */
.mcc-folder-2923086 .category-card {background: #5c6977 url(../images/categories/photos/Examples.jpg?v=1.2) no-repeat top center / cover;}
.mcc-folder-2923086 .category-card .card-img-holder:before {background-image: url(../images/categories/examples_v1.svg?v=1.3)}
/* video */
.mcc-folder-2923084 .category-card {background: #5c6977 url(../images/categories/photos/Video.jpg) no-repeat top center / cover;}
.mcc-folder-2923084 .category-card .card-img-holder:before {background-image: url(../images/categories/video_v1.svg?v=1.3)}
/* product request */
.mcc-folder-2923079 .category-card {background: #5c6977 url(../images/categories/photos/Product-Request.jpg?v=1.2) no-repeat top center / cover;}
.mcc-folder-2923079 .category-card .card-img-holder:before {background-image: url(../images/categories/product_request_v1.svg?v=1.3)}
/* faqs */
.mcc-folder-3063539 .category-card {background: #5c6977 url(../images/categories/photos/FAQs.jpg) no-repeat top center / cover;}
.mcc-folder-3063539 .category-card .card-img-holder:before {background-image: url(../images/categories/FAQs_v1.svg?v=1.3)}
