/* Style the Large background image and the container that holds it */

#ENUSmain {
    background:url(https://wp-marcom.github.io/marcom/cosv/images/cosvGreenMountains.jpg);
  }


/* Style the Main Background color and overide background image if set in Catalog CSS */
  #PageType01 {
    background-color: #007db8;
    }

/* Style the the Login button */
.pbtn SPAN {
        background-color: #007db8!important;
        color: #fff!important;     
 }
/* Next three styles the footer data */

#CtlFooter div{
  color:#fff!important;
}
#CtlFooter span{
  color:#fff!important;
}
#CtlFooter a{
  text-decoration: underline!important;
  color:#fff!important;
}

 /* Style the words 'Username' 'Password' */
#ctl00_content_Login_Stringcontrol2, #ctl00_content_Login_Stringcontrol3{
    color: #007db8 !important;
    }

/* Style the entry/input fields for 'Username' 'Password' */
#ctl00_content_Login_txtLoginId, #ctl00_content_Login_txtPassword {
      border: 2px solid #50b748!important;
    }

/* Style the primary login box color/placement/effects*/
#CtlLogIn {
    background-color: rgba(255,255,255,1) !important;
    color: #007db8!important;
    background: #FFFFFF;
    }

/* Style the Login Header Element - the HTML for this exists in the Custom Content section */

#LogoDiv {
    background:url(https://wp-marcom.github.io/marcom/cosv/images/cosvLoginHeader.svg);
}
