/*Westpress_CustomCSS*/

/*Main color is #541f46 (Dark Purple), Secondary Color is #b42025(Burgundy)*/

/*Body Text and Heading Defaults*/
body, p, div, span, td, li, ol, bl, input, select, textarea {
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
    letter-spacing: .57px!important;
    color:red!important;
}

/*The next 3 items below receive styling for a secondary "Headline" type font for some users - default is the same family as everything else*/

/* Product Title when viewing an individual product*/
#productTitle{
  font-family: 'Figtree', Arial, Helvetica, sans-serif!important;
}
  
/* Folder and Directory Name and Primary Product Name styling*/
.ProductName {
    font-family: 'Figtree', Arial, Helvetica, sans-serif!important;
    padding-top: 32px!important;
}

/*Headlines*/
h1, h2, h3, h4, h5, h6{
  font-family: 'Figtree', Arial, Helvetica, sans-serif!important;
  letter-spacing: .57px!important;
  color:#541f46!important;
}


/*Body Link Color Defaults*/
a, a:link, a:focus, .CtlListTable a, .CtlListTable a:link {
	color: #541f46!important; 
} 

/*Primary Catalog Width - How Wide are the store pages?*/
#ENUSmain {
    width: 90vw !important;
    border: 0px!important;
    border-radius: 20px!important;
}

/*Primary Catalog Background Color/*/

#PageType01 {
    background-color: #541f46!important;
}

/*Set the width/border of the center catalog bar and how wide the elements beneath spread*/
table.nav{
  width:100%!important;
  border: 1px solid #d8dadb!important;
}

/*Set the background color of the main catalog bars/*/
.navBG{
background-color:#f0f0f0!important;
}

/*Set the Font weight and color of the Main Catalog Bars*/
ul.nav li, .nav_cell{
  color:#541f46!important;
  font-weight: 600;
}

.ContentBoxHeaderSmall {
    background-color: #f0f0f0 !important;
    color:#541f46!important;
    border-bottom: 1px solid #d8dadb!important;
}

/*Center the directory title/*/
.ellipsis_text{
        font-family: 'Figtree', serif!important;
}

/*Color and style of items when you HOVER over them in the left side catalog menu/*/
.RadTreeView_Windows7 .rtHover .rtIn{
background-color:#b42025!important;
background-image: url()!important;
border: 0px solid #d8dadb!important;
border-radius: 3px!important;
padding: 3px!important;
color:white!important;
}

/*Color and style of items when you SELECT/ACTIVE over them in the left side catalog menu/*/
.RadTreeView_Windows7 .rtSelected .rtIn{
background-color:#b42025!important;
background-image: url()!important;
border: 0px solid #d8dadb!important;
border-radius: 3px!important;
padding: 3px!important;
font-weight: 700!important;
color:white!important;
}

/*Change details of the Main Nav Bar at the top*/

/*Add an image to the inside of the Nav element that contains the login username and information at the top*/

.NavTop {
color:#fff!important;
font-size: 13px!important;
font-weight:600!important;
border-top-left-radius: 20px!important;
border-top-right-radius: 20px!important;
height: 130px!important;
background: url(https://westpress.com/MarcomContent/WestPress/Images/WP-Header-Final.svg);
background-repeat: no-repeat;
background-size: auto;
background-position: right;
}

/*Background color to entire Main Nav Bar and remove borders for cleaner look*/

.TDTab, .TDTabLeft, .TDTabRight, .navBarEnhancedBackgroundColor.customColorOverridable{
  background-color: #fff!important;
  border:none!important;
}

/*Change height width and color of the buttons in the main nav bar* "Catalog" etc*/

.TDTab {
height:37px!important;
width:100px!important;
color:#541f46!important;
}

/*Make sure no styling changes to Main Nav bar text if the links have been visited. Also adds spacing between letters for readability "Catalog" etc*/

.TDTab a, .TDTab a:link, .TDTab a:visited, .TDTabLeft a, .TDTabLeft a:link, .TDTabLeft a:visited{
  color:#541f46!important;
  letter-spacing: .57px!important;
  font-size:14px!important;
  font-weight:600!important;
}

/*Adds the cool underline effect when you over over a link on the Main Nav bar*/

.TDTab a:hover, .TDTabLeft a:hover{
cursor: pointer!important;
text-decoration: underline 3px #b42025!important;
text-underline-offset: 10px!important;
}

/*Adds the cool underline effect when you over over a link in the Catalog AND Grid Area if Grid layout is selected*/
.gridItem_title a:hover, .ProductName a:hover{
cursor: pointer!important;
text-decoration: underline 2px #b42025!important;
text-underline-offset: 2px!important;

}
/*Remove the cool underline effect from an Active button in the Main Nav bar (doesn't need it)*/
.TDActive a:hover{
  text-decoration: none!important;
}




/*Change what happens when a button in the main nav bar is selected/active "Catalog" etc*/

.TDActive {
  width:100px!important;
  border:none!important;
  font-size:14px!important;
  font-weight:600!important;
  background-color: #541f46!important;
  border-radius: 8px!important;
}

/*Change what happens to the text inside the button in the main nav bar is selected/active "Catalog" etc*/
.TDActive a{
  color:white!important;
}

/*Hide the Home Link from the Nav Bar*/

.TDTabLeft{
  width:0px!important;
  border:none!important;
  font-size:14px!important;
  font-weight:600!important;
}

.TDActiveLeft {
  width:0px!important;
  border:none!important;
  font-size:0px!important;
  font-weight:0!important;
}


#ctl00_ctl07_HomeLinkLabel{
  font-size: 0px!important;
}

/*Add Space around the top image in the NavTop Element*/

.TDTable{
  margin-top: 7px!important;
  margin-bottom: 7px!important;
}

/*Add styling to the Search Box*/
.TDSearchBox {
  width:100px!important;
  background-position: 95% 57%!important;
  background-size: 4%!important;
  border: 2px solid #541f46!important;
  border-radius: 8px!important;
  height: 1px!important;
  padding: 12px 5px 12px 10px!important; 
}

/*Change color of elements in the top right corner Username etc.*/
#ctl00_ctl08_lblUserName, #ctl00_ctl08_btnMyProfile,#ctl00_ctl08_btnLogOut{
  color:#fff!important;
}

/*Change color of Add to Cart Button text*/
A.pbtn.btn-l-green SPAN, A.pbtn.btn-l-green:hover SPAN{
  color:#fff!important;
}

/*Change color of Product Info and Order Info underlines*/
.ColorPromptText, .BluePromptText, .QuickFillPrompt {
    border-bottom: solid 1px #b42025!important;
}
/*Change color of Product Info and Order Info Text*/
#ctl00_content_ctl00_mHeaderNote_lblProductHeaderNote, #ctl00_content_ctl00_ProductOrderInfoController_mHeaderNote_lblOrderInfoHeaderNote{
    color:#b42025!important;
}
/*Change color of Spacers in the top left area to white(1) or black(0) (inverting the black image)*/
img.NavTopSpacer {
  filter: invert(1);
}

 /*Style the button that says how a product is sold (Sold in packs of...)*/
.button-orange {
    height: 16px;
    padding:5px;
    width: 130px;
    display: table;
    text-align: center;
    background-color: #f58a38;
    background-image: linear-gradient(to bottom, #f58a38, #f57c20);
    border: 0px solid #c25706;
    box-shadow: inset 0 1px 0 #ffb984, inset 0 -1px 0 #db6f1d, inset 0 0 0 1px #f59851, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff!important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
