/*Westpress_TierraAntigua_CustomCSS*/

/*Main color is #2C2159 (DK Purple), Secondary Color is #FFC629(Yellow)*/


:root {
  --primarycolor: #2C2159;
  --secondarycolor: #FFC629;
  --titlefont: 'Figtree';
}

/*Body Text and Heading Defaults*/
body, p, div, span, td, li, ol, bl, input, select, textarea {
  color:var(--primarycolor)!important;
}

.tierraantigua_notification{
  display:none;
  opacity:0!important;
}


/*The next 3 items below receive styling for a secondary "Headline" type font for some users - default is the same family as everything else*/

/* Product Title when viewing an individual product*/
#productTitle{
    font-family: var(--titlefont), serif!important;
  }
    
/* Folder and Directory Name and Primary Product Name styling*/
.ProductName {
    font-family: var(--titlefont), serif!important;
    padding-top: 32px!important;
    }

/*Headlines*/
h1, h2, h3, h4, h5, h6{
    font-family: var(--titlefont), serif!important;
    color:var(--primarycolor)!important;
}


/*Body Link Color Defaults*/
a, a:link, a:focus, .CtlListTable a, .CtlListTable a:link {
  color:var(--primarycolor)!important;
} 

/*Primary Catalog Background Color/*/

#PageType01 {
  margin-bottom:600px!important;
  background-color: var(--primarycolor)!important;
}

/*Set the Font weight and color of the Main Catalog Bars*/
ul.nav li, .nav_cell{
  color:var(--primarycolor)!important;
}

.ContentBoxHeaderSmall {
  background-color: #f0f0f0 !important;
  color:var(--primarycolor)!important;
  border-bottom: 1px solid #d8dadb!important;
}

/*Color and style of items when you HOVER over them in the left side catalog menu/*/
.RadTreeView_Windows7 .rtHover .rtIn{
  background-color:var(--secondarycolor)!important;
  background-image: url()!important;
  border: 0px solid #d8dadb!important;
  border-radius: 3px!important;
  padding: 3px!important;
  color:white!important;
    }

/*Color and style of items when you SELECT/ACTIVE over them in the left side catalog menu/*/
.RadTreeView_Windows7 .rtSelected .rtIn{
background-color:var(--secondarycolor)!important;
background-image: url()!important;
border: 0px solid #d8dadb!important;
border-radius: 3px!important;
padding: 3px!important;
font-weight: 700!important;
color:white!important;
    }


/*Add an image to the inside of the Nav element that contains the login username and information at the top*/

.NavTop {
    background: url(https://wp-marcom.github.io/marcom/westpressmarketing/tierraantigua/images/tierraantigua-header.svg), url();
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top left, top right;
    height: 130px!important;
    }


/*Change height width and color of the buttons in the main nav bar* "Catalog" etc*/

.TDTab {
  color:var(--primarycolor)!important;
}

/*Make sure no styling changes to Main Nav bar text if the links have been visited. Also adds spacing between letters for readability "Catalog" etc*/

.TDTab a, .TDTab a:link, .TDTab a:visited, .TDTabLeft a, .TDTabLeft a:link, .TDTabLeft a:visited{
  color:var(--primarycolor)!important;
}


/*Changes the color of the cool ANIMATED underline effect when you over over a link on the Main Nav bar*/
.TDTab:after {
background-color: var(--secondarycolor)!important;
}


/*Changes the color of the cool animated underline effect when you over over a link in the Catalog AND Grid Area if Grid layout is selected*/      
.gridItem_title a:after, .ProductName a:after {
  background-color: var(--secondarycolor)!important;
}
/*Changes the color of the border around product thumbnails - note the half opacity*/
.gridItemImageCell{
border: 1px solid #d8dadb!important;
}


/*Change what happens when a button in the main nav bar is selected/active "Catalog" etc*/

.TDActive {
  background-color: var(--primarycolor)!important;
}


/*Add styling to the Search Box*/
.TDSearchBox {
  border: 2px solid var(--secondarycolor)!important;
}

/*Change color of elements in the top right corner Username etc.*/
#ctl00_ctl08_lblUserName, #ctl00_ctl08_btnMyProfile,#ctl00_ctl08_btnLogOut{
  color:var(--primarycolor)!important;
}

/*Change color of Add to Cart Button text*/
A.pbtn.btn-l-green SPAN, A.pbtn.btn-l-green:hover SPAN{
color:#fff!important;
}

/*Change color of Product Info and Order Info underlines*/
.ColorPromptText, .BluePromptText, .QuickFillPrompt {
  border-bottom: solid 1px var(--secondarycolor)!important;
  }
/*Change color of Product Info and Order Info Text*/
#ctl00_content_ctl00_mHeaderNote_lblProductHeaderNote, #ctl00_content_ctl00_ProductOrderInfoController_mHeaderNote_lblOrderInfoHeaderNote{
  color:var(--secondarycolor)!important;
}
/*Change color of Spacers in the top left area to white(1) or black(0) (inverting the black image)*/
img.NavTopSpacer {
filter: invert(0);
}

/*Order Confirmation CSS below for TIERRA ANTIGUA ONLY*/

.tierraantigua_notification {
    background-color: #00b1fe;
    color: #FFFFFF !important;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.notification-icon {
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 448 512%27%3E%3Cpath fill=%27%23fff%27 d=%27M400 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zm16 400c0 8.822-7.178 16-16 16H48c-8.822 0-16-7.178-16-16V80c0-8.822 7.178-16 16-16h352c8.822 0 16 7.178 16 16v352zm-228-80h12V232h-12c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h48c6.627 0 12 5.373 12 12v140h12c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12h-72c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12zm36-240c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32z%27/%3E%3C/svg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.notification-content {
    display: flex;
    flex-direction: column;
}

.notification-title {
    margin: 0px;
    color: #FFFFFF !important;
}

.notification-desc {
    margin: 0px;
    color: #FFFFFF !important;
}

