
body:has(div.Cochise.College) {
--primary-color: #da0016;  /* Change this per client */
  --primary-color-rgb: 218, 0, 22;  /* RGB version */
  --secondary-color: #000000;
  --secondary-color-rgb: 0,0,0;  /* RGB version */
   
}
body:has(div.Cochise.College) .navbar-brand {
  display: block;
  width: 440px;
  height: 60px;
  background-image: url('../../img/custom/cochisecollege-header-white-ss.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 25px;
}

/* Adjust logo size in NavBar */
/* Extra small devices (phones, <576px) */
@media (max-width: 575.98px) {
  body:has(div.Cochise.College) .navbar-brand {
    width: 175px;
    height: 40px;
    margin-left: 80px;
  }
    #user-name{display:none}
}

/* Small devices (landscape phones, ≥576px and <768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  body:has(div.Cochise.College) .navbar-brand {
    width: 220px;
    height: 45px;
   margin-left:150px ;
  }
    #user-name{display:none}
}

/* Medium devices (tablets, ≥768px and <992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body:has(div.Cochise.College) .navbar-brand {
    width: 300px;
    height: 40px;
    margin-left:150px ;
  }
    #user-name{display:none}
}

/* Apply styles only when body has a div with class "Cochise College" */
body:has(div.Cochise.College) [class*="mcc-folder-"] .category-card .card-img-holder:before {
    background-image: url(../../img/common/cochisecollege-folder.svg);
}

body:has(div.Cochise.College) [class*="mcc-folder-"] > a:nth-child(1):after {
    background: rgba(var(--primary-color-rgb), 0.75);
}

body:has(div.Cochise.College) [class*="mcc-folder-"] .category-card:focus:after, 
body:has(div.Cochise.College) [class*="mcc-folder-"] .category-card:hover:after {
    background: rgba(var(--secondary-color-rgb), 1.0);
}

body:has(div.Cochise.College) .product-price-note{display: none;}

/* HIDE THE SHIPPING INSTRUCTIONS BOX DURING CHECKOUT*/
body:has(div.Cochise.College) div.mt-4:nth-child(6){
  display:none;
}

/* HIDE THIS TEXT DURING CHECKOUT "(Does not include shipping and sales tax)"*/

body:has(div.Cochise.College) .product-price-note {
  display: none !important;
}

/* pima federal main */
.mcc-folder-2956766 .category-card {background: var(--primary-color) url(../../img/common/cochisecollege-main.jpg) no-repeat center right / cover;}
.mcc-folder-2956766 .category-card:focus:after, .mcc-folder-2956766 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

