
body:has(div.Intermountain.Centers) {
--primary-color: #008da5;  /* Change this per client */
  --primary-color-rgb: 0, 141, 165;  /* RGB version */
  --secondary-color: #51312d;
  --secondary-color-rgb: 81,49,45;  /* RGB version */
}

body:has(div.Intermountain.Centers) .navbar-brand {
  display: block;
  width: 440px;
  height: 60px;
  background-image: url('../../img/custom/intermountain-header-white.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 25px;
}

/* Adjust logo size in NavBar */
/* Extra small devices (phones, <576px) */
@media (max-width: 575.98px) {
  body:has(div.Intermountain.Centers) .navbar-brand {
    width: 175px;
    height: 40px;
    margin-left: 80px;
  }
    #user-name-header{display:none}
}

/* Small devices (landscape phones, ≥576px and <768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  body:has(div.Intermountain.Centers) .navbar-brand {
    width: 220px;
    height: 45px;
   margin-left:150px ;
  }
    #user-name-header{display:none}
}

/* Medium devices (tablets, ≥768px and <992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body:has(div.Intermountain.Centers) .navbar-brand {
    width: 300px;
    height: 40px;
    margin-left:150px ;
  }
    #user-name-header{display:none}
}

/* Apply styles only when body has a div with class "Intermountain Centers" */
body:has(div.Intermountain.Centers) [class*="mcc-folder-"] .category-card .card-img-holder:before {
    background-image: url(../../img/common/intermountain-folder.svg);
}

body:has(div.Intermountain.Centers) [class*="mcc-folder-"] > a:nth-child(1):after {
    background: rgba(var(--primary-color-rgb), 0.75);
}

body:has(div.Intermountain.Centers) [class*="mcc-folder-"] .category-card:focus:after, 
body:has(div.Intermountain.Centers) [class*="mcc-folder-"] .category-card:hover:after {
    background: rgba(var(--secondary-color-rgb), 1.0);
}

body:has(div.Intermountain.Centers) .product-price-note{display: none;}

/* HIDE THE SHIPPING INSTRUCTIONS BOX DURING CHECKOUT*/
body:has(div.Intermountain.Centers) div.mt-4:nth-child(6){
  display:none;
}

/* HIDE THIS TEXT DURING CHECKOUT "(Does not include shipping and sales tax)"*/

body:has(div.Intermountain.Centers) .product-price-note {
  display: none !important;
}

/* intermountain centers main */
.mcc-folder-1627879 .category-card {background: var(--primary-color) url(../../img/common/intermountaincenters-main.jpg) no-repeat center right / cover;}
.mcc-folder-1627879 .category-card:focus:after, .mcc-folder-1627879 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

