@charset "UTF-8";

/* ==========================================================================
   CSS VARIABLES
   ========================================================================== */
:root {
    --primary-color: #173654;  /* Change this per client */
    --primary-color-rgb: 23, 54, 84;  /* RGB version */
    --secondary-color: #F8BD37;
    --secondary-color-rgb: 248, 189, 55;  /* RGB version */
  --text-color: #242424;
  --text-muted: #616771;
  --border-color: #ebebeb;
  --shadow-light: 0 0 8px 3px rgb(0 0 0 / 10%);
  --border-radius: 7px;
}


/* ==========================================================================
   BASE STYLES
   ========================================================================== */

   /* Corporate Select TEST */
mcc-root.mc-usergroup-4013439 .col-lg-9 > section:nth-child(1)::before {
    content: "ℹ️ We appreciate your order! Please allow a minimum of 3 business days production time and 5 business days for shipping for all orders placed through this portal." !important;
    display: block !important;
    background: #00b1fe !important;
    color: #fff !important;
    padding: 12px 25px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1) !important;
    text-align: center !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    animation: fade-in .9s forwards;
    animation-delay: 1.5s;
    border-left: 5px solid rgba(0,0,0,.2);
}