
body:has(div.Pima.Federal) {
--primary-color: #5d9741;  /* Change this per client */
  --primary-color-rgb: 93, 151, 65;  /* RGB version */
  --secondary-color: #7bc143;
  --secondary-color-rgb: 123,193,67;  /* RGB version */
   
}
body:has(div.Pima.Federal) .navbar-brand {
  display: block;
  width: 440px;
  height: 60px;
  background-image: url('../../img/custom/pimafederal-header-white-ss.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 25px;
}

/* Apply styles only when body has a div with class "Pima Federal" */
body:has(div.Pima.Federal) [class*="mcc-folder-"] .category-card .card-img-holder:before {
    background-image: url(../../img/common/pima-folder.svg);
}

body:has(div.Pima.Federal) [class*="mcc-folder-"] > a:nth-child(1):after {
    background: rgba(var(--primary-color-rgb), 0.75);
}

body:has(div.Pima.Federal) [class*="mcc-folder-"] .category-card:focus:after, 
body:has(div.Pima.Federal) [class*="mcc-folder-"] .category-card:hover:after {
    background: rgba(var(--secondary-color-rgb), 1.0);
}

body:has(div.Pima.Federal) .product-price-note{display: none;}

/* HIDE THE SHIPPING INSTRUCTIONS BOX DURING CHECKOUT*/
body:has(div.Pima.Federal) div.mt-4:nth-child(6){
  display:none;
}

/* HIDE THIS TEXT DURING CHECKOUT "(Does not include shipping and sales tax)"*/

body:has(div.Pima.Federal) .product-price-note {
  display: none !important;
}

/* pima federal main */
.mcc-folder-1627879 .category-card {background: #5c6977 url(../../img/common/pimafederal-main.jpg) no-repeat center right / cover;}
.mcc-folder-1627879 .category-card:focus:after, .mcc-folder-1627879 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

