
body:has(div.Sierra.Tucson) {
--primary-color: #60504d;  /* Change this per client */
  --primary-color-rgb: 96, 80, 77;  /* RGB version */
  --secondary-color: #b25c1a;
  --secondary-color-rgb: 178,92,26;  /* RGB version */
   
}
body:has(div.Sierra.Tucson) .navbar-brand {
  display: block;
  width: 440px;
  height: 60px;
  background-image: url('../../img/custom/sierratucson-header-white-ss.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 25px;
}

/* Adjust logo size in NavBar */
/* Extra small devices (phones, <576px) */
@media (max-width: 575.98px) {
  body:has(div.Sierra.Tucson) .navbar-brand {
    width: 175px;
    height: 40px;
    margin-left: 80px;
  }
}

/* Small devices (landscape phones, ≥576px and <768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  body:has(div.Sierra.Tucson) .navbar-brand {
    width: 220px;
    height: 45px;
   margin-left:150px ;
  }
}

/* Medium devices (tablets, ≥768px and <992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body:has(div.Sierra.Tucson) .navbar-brand {
    width: 300px;
    height: 40px;
    margin-left:150px ;
  }
}


/* Apply styles only when body has a div with class "Sierra Tucson" */
body:has(div.Sierra.Tucson) [class*="mcc-folder-"] .category-card .card-img-holder:before {
    background-image: url(../../img/common/sierratucson-folder.svg);
}

body:has(div.Sierra.Tucson) [class*="mcc-folder-"] > a:nth-child(1):after {
    background: rgba(var(--primary-color-rgb), 0.75);
}

body:has(div.Sierra.Tucson) [class*="mcc-folder-"] .category-card:focus:after, 
body:has(div.Sierra.Tucson) [class*="mcc-folder-"] .category-card:hover:after {
    background: rgba(var(--secondary-color-rgb), 1.0);
}

body:has(div.Sierra.Tucson) .product-price-note{display: none;}

/* HIDE THIS TEXT DURING CHECKOUT "(Does not include shipping and sales tax)"*/

body:has(div.Sierra.Tucson) .product-price-note {
  display: none !important;
}

/* HIDE THIS TEXT DURING CHECKOUT "Ship to multiple locations"*/

body:has(div.Sierra.Tucson) .col-md-4:nth-child(1) > mcc-shipping-info:nth-child(1) > section:nth-child(1) > article:nth-child(3) > a:nth-child(2){
  display: none !important;
}


/* sierra tucson main */
.mcc-folder-1629938 .category-card {background: var(--primary-color) url(../../img/common/sierratucson-main.png) no-repeat center right / cover;}
.mcc-folder-1629938 .category-card:focus:after, .mcc-folder-1629938 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}
