
body:has(div.Uzin.Utz) {
--primary-color: #003c7d;  /* Change this per client */
  --primary-color-rgb: 0, 60, 125;  /* RGB version */
  --secondary-color: #0078be;
  --secondary-color-rgb: 0, 120, 190;  /* RGB version */
}
/*Main color is #256092 (Uzin.UtzBlue), Secondary Color is #f68c2c(Orange)*/

body:has(div.Uzin.Utz) .navbar-brand {
  display: block;
  width: 440px;
  height: 60px;
  background-image: url('../../img/custom/uzinutz-header-white.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 25px;
}

/* Adjust logo size in NavBar */
/* Extra small devices (phones, <576px) */
@media (max-width: 575.98px) {
  body:has(div.Uzin.Utz) .navbar-brand {
    width: 175px;
    height: 40px;
    margin-left: 80px;
  }
    #user-name-header{display:none}
}

/* Small devices (landscape phones, ≥576px and <768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  body:has(div.Uzin.Utz) .navbar-brand {
    width: 220px;
    height: 45px;
   margin-left:150px ;
  }
    #user-name-header{display:none}
}

/* Medium devices (tablets, ≥768px and <992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body:has(div.Uzin.Utz) .navbar-brand {
    width: 300px;
    height: 40px;
    margin-left:150px ;
  }
    #user-name-header{display:none}
}

body:has(div.Uzin.Utz) .product-price-note{display: none;}

/* HIDE THE SHIPPING INSTRUCTIONS BOX DURING CHECKOUT*/
body:has(div.Uzin.Utz) div.mt-4:nth-child(6){
  display:none;
}

/* HIDE BILLING ADDRESS PANEL DURING CONFIRMATION STEP*/
body:has(div.Uzin.Utz) article.panel-detail-wrap:nth-child(5){
  display: none !important;
}

/* HIDE THIS TEXT DURING CHECKOUT "(Does not include shipping and sales tax)"*/

body:has(div.Uzin.Utz) .product-price-note {
  display: none !important;
}

/* Uzin.Utz main */
.mcc-folder-3778202 .category-card {background: var(--primary-color) url(../../img/common/uzinutz-main.jpg) no-repeat center right / cover;}
.mcc-folder-3778202 .category-card:focus:after, .mcc-folder-3778202 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* UZIN secondary */
.mcc-folder-3778217 .category-card {background: var(--primary-color) url(../../img/common/uzinutz-main.jpg) no-repeat center right / cover;}
.mcc-folder-3778217 .category-card:focus:after, .mcc-folder-3778217 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* WOLFF secondary */
.mcc-folder-3778218 > a:nth-child(1):after {background: #324b55;}
.mcc-folder-3778218 .category-card:focus:after, .mcc-folder-3778218 .category-card:hover:after {background: rgba(65, 110, 120, 1.0)!important;}

.mcc-folder-3778218 .category-card .card-img-holder:before {
  background-image: url(../../img/common/wolff-folder.svg);
}

/* PALLMANN secondary */
.mcc-folder-3778219 > a:nth-child(1):after {background: #f90;}
.mcc-folder-3778219 .category-card:focus:after, .mcc-folder-3778219 .category-card:hover:after {background: rgba(240, 195, 0, 1.0)!important;}



