
body:has(div.Vantage.West) {
--primary-color: #022e4a;  /* Change this per client */
  --primary-color-rgb: 2, 46, 74;  /* RGB version */
  --secondary-color: #ffcb05;
  --secondary-color-rgb: 255, 203, 5;  /* RGB version */
   
}
body:has(div.Vantage.West) .navbar-brand {
  display: block;
  width: 440px;
  height: 60px;
  background-image: url('../../img/custom/vantagewest-header-white-ss.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 25px;
}

/* Adjust logo size in NavBar */
/* Extra small devices (phones, <576px) */
@media (max-width: 575.98px) {
  body:has(div.Vantage.West) .navbar-brand {
    width: 175px;
    height: 40px;
    margin-left: 80px;
  }
}

/* Small devices (landscape phones, ≥576px and <768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  body:has(div.Vantage.West) .navbar-brand {
    width: 220px;
    height: 45px;
   margin-left:150px ;
  }
}

/* Medium devices (tablets, ≥768px and <992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body:has(div.Vantage.West) .navbar-brand {
    width: 300px;
    height: 40px;
    margin-left:150px ;
  }
}

/* Apply styles only when body has a div with class "Vantage West" */
body:has(div.Vantage.West) [class*="mcc-folder-"] .category-card .card-img-holder:before {
    background-image: url(../../img/common/vantage-folder.svg);
}

body:has(div.Vantage.West) [class*="mcc-folder-"] > a:nth-child(1):after {
    background: rgba(var(--primary-color-rgb), 0.75);
}

body:has(div.Vantage.West) [class*="mcc-folder-"] .category-card:focus:after, 
body:has(div.Vantage.West) [class*="mcc-folder-"] .category-card:hover:after {
    background: rgba(var(--secondary-color-rgb), 1.0);
}

body:has(div.Vantage.West) .product-price-note{display: none;}

/* HIDE THE SHIPPING INSTRUCTIONS BOX DURING CHECKOUT*/
body:has(div.Vantage.West) div.mt-4:nth-child(6){
  display:none;
}

/* HIDE THIS TEXT DURING CHECKOUT "(Does not include shipping and sales tax)"*/

body:has(div.Vantage.West) .product-price-note {
  display: none !important;
}

/* HIDE THIS TEXT DURING CHECKOUT "Ship to multiple locations"*/

body:has(div.Vantage.West) .col-md-4:nth-child(1) > mcc-shipping-info:nth-child(1) > section:nth-child(1) > article:nth-child(3) > a:nth-child(2){
  display: none !important;
}


/* vantage west main */
.mcc-folder-2680297 .category-card {background: var(--primary-color) url(../../img/common/vantagewest-main.jpg) no-repeat center right / cover;}
.mcc-folder-2680297 .category-card:focus:after, .mcc-folder-2680297 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* member materials */
.mcc-folder-2695839 .category-card {background: var(--primary-color) url(../../img/custom/vantagewest-membermaterials.jpg) no-repeat center right / cover;}
.mcc-folder-2695839 .category-card:focus:after, .mcc-folder-2695839 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* home loans */
.mcc-folder-2695840 .category-card {background: var(--primary-color) url(../../img/custom/vantagewest-homeloans.jpg) no-repeat center right / cover;}
.mcc-folder-2695840 .category-card:focus:after, .mcc-folder-2695840 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* wealth management */
.mcc-folder-2695842 .category-card {background: var(--primary-color) url(../../img/custom/vantagewest-wealthmanagement.jpg) no-repeat center right / cover;}
.mcc-folder-2695842 .category-card:focus:after, .mcc-folder-2695842 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* super saver */
.mcc-folder-2836370 .category-card {background: var(--primary-color) url(../../img/custom/vantagewest-supersaver.jpg) no-repeat center right / cover;}
.mcc-folder-2836370 .category-card:focus:after, .mcc-folder-2836370 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* business banking */
.mcc-folder-2695841 .category-card {background: var(--primary-color) url(../../img/custom/vantagewest-businessbanking.jpg) no-repeat center right / cover;}
.mcc-folder-2695841 .category-card:focus:after, .mcc-folder-2695841 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* promo items */
.mcc-folder-2854743 .category-card {background: var(--primary-color) url(../../img/custom/vantagewest-promoitems.jpg) no-repeat center right / cover;}
.mcc-folder-2854743 .category-card:focus:after, .mcc-folder-2854743 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* stationery & prepaid */
.mcc-folder-2916995 .category-card {background: var(--primary-color) url(../../img/custom/vantagewest-stationeryprepaid.jpg) no-repeat center right / cover;}
.mcc-folder-2916995 .category-card:focus:after, .mcc-folder-2916995 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* diannelopez.jpg */
.mcc-folder-3517449 .category-card {background: var(--primary-color) url(../../img/custom/vantagewest-diannelopez.jpg) no-repeat center right / cover;}
.mcc-folder-3517449 .category-card:focus:after, .mcc-folder-3517449 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* jessicapiccirillo.jpg */
.mcc-folder-3591607 .category-card {background: var(--primary-color) url(../../img/custom/vantagewest-jessicapiccirillo.jpg) no-repeat center right / cover;}
.mcc-folder-3591607 .category-card:focus:after, .mcc-folder-3591607 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* kristrosper.jpg */
.mcc-folder-3591606 .category-card {background: var(--primary-color) url(../../img/custom/vantagewest-kristrosper.jpg) no-repeat center right / cover;}
.mcc-folder-3591606 .category-card:focus:after, .mcc-folder-3591606 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* mercedesschlicht.jpg */
.mcc-folder-3576676 .category-card {background: var(--primary-color) url(../../img/custom/vantagewest-mercedesschlicht.jpg) no-repeat center right / cover;}
.mcc-folder-3576676 .category-card:focus:after, .mcc-folder-3576676 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* monicavarela.jpg */
.mcc-folder-2839082 .category-card {background: var(--primary-color) url(../../img/custom/vantagewest-monicavarela.jpg) no-repeat center right / cover;}
.mcc-folder-2839082 .category-card:focus:after, .mcc-folder-2839082 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* samrahim.jpg */
.mcc-folder-2839155 .category-card {background: var(--primary-color) url(../../img/custom/vantagewest-samrahim.jpg) no-repeat center right / cover;}
.mcc-folder-2839155 .category-card:focus:after, .mcc-folder-2839155 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* scottdillon.jpg */
.mcc-folder-3510586 .category-card {background: var(--primary-color) url(../../img/custom/vantagewest-scottdillon.jpg) no-repeat center right / cover;}
.mcc-folder-3510586 .category-card:focus:after, .mcc-folder-3510586 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* seanwood.jpg */
.mcc-folder-2839156 .category-card {background: var(--primary-color) url(../../img/custom/vantagewest-seanwood.jpg) no-repeat center right / cover;}
.mcc-folder-2839156 .category-card:focus:after, .mcc-folder-2839156 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

