
body:has(div.Vantage.West) {
--primary-color: #022e4a;  /* Change this per client */
  --primary-color-rgb: 2, 46, 74;  /* RGB version */
  --secondary-color: #ffcb05;
  --secondary-color-rgb: 255, 203, 5;  /* RGB version */
   
}
body:has(div.Vantage.West) .navbar-brand {
 display: block;
    width: 300px; /* Adjust width to fit the logo */
    height: 40px; /* Matches the existing height */
    background-image: url('../../img/custom/vantagewest-header-white.svg'); /* Replace with your logo URL */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Apply styles only when body has a div with class "Vantage West" */
body:has(div.Vantage.West) [class*="mcc-folder-"] .category-card .card-img-holder:before {
    background-image: url(../../img/common/vantage-folder.svg);
}

body:has(div.Vantage.West) [class*="mcc-folder-"] > a:nth-child(1):after {
    background: rgba(var(--primary-color-rgb), 0.75);
}

body:has(div.Vantage.West) [class*="mcc-folder-"] .category-card:focus:after, 
body:has(div.Vantage.West) [class*="mcc-folder-"] .category-card:hover:after {
    background: rgba(var(--secondary-color-rgb), 1.0);
}

/* vantage west main */
.mcc-folder-2680297 .category-card {background: #5c6977 url(../../img/common/vantagewest-main.jpg) no-repeat center right / cover;}
.mcc-folder-2680297 .category-card:focus:after, .mcc-folder-2680297 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* member materials */
.mcc-folder-2695839 .category-card {background: #5c6977 url(../../img/custom/vantagewest-membermaterials.jpg) no-repeat center right / cover;}
.mcc-folder-2695839 .category-card:focus:after, .mcc-folder-2695839 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* home loans */
.mcc-folder-2695840 .category-card {background: #5c6977 url(../../img/custom/vantagewest-homeloans.jpg) no-repeat center right / cover;}
.mcc-folder-2695840 .category-card:focus:after, .mcc-folder-2695840 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* wealth management */
.mcc-folder-2695842 .category-card {background: #5c6977 url(../../img/custom/vantagewest-wealthmanagement.jpg) no-repeat center right / cover;}
.mcc-folder-2695842 .category-card:focus:after, .mcc-folder-2695842 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* super saver */
.mcc-folder-2836370 .category-card {background: #5c6977 url(../../img/custom/vantagewest-supersaver.jpg) no-repeat center right / cover;}
.mcc-folder-2836370 .category-card:focus:after, .mcc-folder-2836370 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* business banking */
.mcc-folder-2695841 .category-card {background: #5c6977 url(../../img/custom/vantagewest-businessbanking.jpg) no-repeat center right / cover;}
.mcc-folder-2695841 .category-card:focus:after, .mcc-folder-2695841 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* promo items */
.mcc-folder-2854743 .category-card {background: #5c6977 url(../../img/custom/vantagewest-promoitems.jpg) no-repeat center right / cover;}
.mcc-folder-2854743 .category-card:focus:after, .mcc-folder-2854743 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

/* stationery & prepaid */
.mcc-folder-2916995 .category-card {background: #5c6977 url(../../img/custom/vantagewest-stationeryprepaid.jpg) no-repeat center right / cover;}
.mcc-folder-2916995 .category-card:focus:after, .mcc-folder-2916995 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

.mcc-folder-2695839 .category-card {background: #5c6977 url(../../img/common/vantagewest-main.jpg) no-repeat center right / cover;}
.mcc-folder-2695839 .category-card:focus:after, .mcc-folder-2695839 .category-card:hover:after {background: rgba(var(--secondary-color-rgb), 0.72)!important;}

